.navbar-dashboard{
    height: 90%;
    width: 4%;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    background-color: #ffffff;
    display: flex;
    animation: ease-out 1s;
    flex-direction: column;
    gap:2vw;
}
.nav-icons-center{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap:2vw
}