.icon-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55px;
    width: 100%;
    
    text-align: center;
    border-radius:10px;
    background-color: #69a5fe;
}